@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-family-primary: "Rubik", sans-serif;
    --font-family-secondary: "Urbanist", sans-serif;
    --text-color: 15 23 42;
    --text-color-secondary: 22 101 52;
    --text-color-tertiary: 29 78 216;
    --custom-bg-color: 255 255 255;
    --glass-bg: 15 23 42;
    --glass-border: 15 23 42;
    --bg-gradient: radial-gradient(circle at 40% 40%,
        #bae6fd 0%,
        #c7d2fe 50%,
        #fefce8 100%);

  }

  .dark {
    --text-color: 255 255 255;
    --text-color-secondary: 34 197 94;
    --text-color-tertiary: 59 130 346;
    --custom-bg-color: 15 23 42;
    --glass-bg: 255 255 255;
    --glass-border: 255 255 255;
    --bg-gradient: radial-gradient(circle at 60% 60%,
        #000008 0%,
        #0e0b2a 40%,
        #000000 100%);
  }

  html {
    color-scheme: light dark;
    font-family: var(--font-family-primary);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: var(--custom-bg-color);
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .font-family-primary {
    font-family: var(--font-family-primary);
  }

  .font-family-secondary {
    font-family: var(--font-family-secondary);
  }

  .glow-text {
    color: rgb(var(--text-color));
    text-shadow:
      0 0 6px rgb(var(--text-color) / 0.5),
      0 0 12px rgb(var(--text-color) / 0.4),
      0 0 20px rgb(var(--text-color) / 0.2);
    transition: all 0.3s ease;
  }

  .glow-text-animate {
    color: rgb(var(--text-color));
    text-shadow:
      0 0 8px rgb(var(--text-color) / 0.6),
      0 0 16px rgb(var(--text-color) / 0.4),
      0 0 24px rgb(var(--text-color) / 0.2);
    animation: glow-pulse 2.5s ease-in-out infinite alternate;
  }

  /* for text */
  @keyframes glow-pulse {
    from {
      text-shadow:
        0 0 4px rgb(var(--text-color) / 0.4),
        0 0 8px rgb(var(--text-color) / 0.3),
        0 0 12px rgb(var(--text-color) / 0.2);
    }

    to {
      text-shadow:
        0 0 10px rgb(var(--text-color) / 0.7),
        0 0 20px rgb(var(--text-color) / 0.5),
        0 0 30px rgb(var(--text-color) / 0.3);
    }
  }

  /* for linear-gradient */
  @keyframes gradient-move {
    0% {
      background-position: 0% 0%;
      /* kiri atas */
    }

    25% {
      background-position: 100% 0%;
      /* kanan atas */
    }

    50% {
      background-position: 100% 100%;
      /* kanan bawah */
    }

    75% {
      background-position: 0% 100%;
      /* kiri bawah */
    }

    100% {
      background-position: 0% 0%;
      /* balik lagi ke kiri atas */
    }
  }

  /* for radiant-gradient */
  @keyframes radiant-shift {
    0% {
      background-position: 50% 50%;
    }

    25% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 50% 100%;
    }

    75% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 50% 50%;
    }
  }

  .glass {
    background-color: rgb(var(--glass-bg) / 0.1);
    border-color: rgb(var(--glass-border) / 0.2);
    @apply backdrop-blur-md border shadow-lg;
  }

  .app-container {
    background: var(--bg-gradient);
    background-size: 300% 300%;
    animation: gradient-move 10s ease infinite;
    overflow-y: scroll;
    scroll-behavior: smooth;
    @apply w-screen h-screen flex flex-col items-center;
  }

  /* navbar */
  .navbar {
    @apply flex items-center justify-between fixed w-[calc(100vw-32px)] lg:w-[calc(100vw-256px)] rounded-2xl left-4 lg:left-32 top-4 p-4 z-10;
  }

  .navbar-profile {
    @apply flex items-center gap-2;
  }

  .navbar-profile-avatar {
    @apply bg-black text-white rounded-full min-w-10 min-h-10 flex justify-center items-center;
  }

  .navbar-profile-avatar-text {
    @apply font-bold transition duration-200 cursor-pointer;
  }

  .navbar-profile-avatar:hover .navbar-profile-avatar-text {
    @apply transform scale-120;
  }

  .navbar-profile-title {
    @apply cursor-pointer hidden sm:block md:hidden lg:block;
  }

  .navbar-link {
    @apply flex gap-5 items-center;
  }

  .navbar-link-item {
    color: rgb(var(--text-color));
    @apply cursor-pointer hidden sm:hidden md:block;
  }

  .navbar-link-icon {
    @apply cursor-pointer block sm:block md:hidden;
  }

  [data-lucide="menu"] {
    color: rgb(var(--text-color));
  }

  .navbar-link-switch-mode {
    @apply flex w-20 h-10 p-1 rounded-4xl items-center cursor-pointer;
  }

  .navbar-link-switch-mode-indicator {
    @apply w-8 h-8 rounded-full flex justify-center items-center transition ease-in duration-200;
  }

  .toggle-dark {
    @apply justify-end;
  }

  /* drawer */
  .drawer {
    @apply flex flex-col w-[50vw] sm:w-[40vw] md:w-[20vw] h-[calc(80vh)] md:hidden fixed rounded-2xl right-4 top-27 duration-500 -z-10;
  }

  .show {
    @apply z-10;
  }

  .drawer-link {
    @apply flex flex-col gap-5 p-4;
  }

  .drawer-link-item {
    color: rgb(var(--text-color));
  }

  .close-drawer {
    color: rgb(var(--text-color));
    @apply flex justify-end;
  }

  /* content */
  .content {
    height: calc(100vh - 16px);
    max-height: calc(100vh - 16px);
    @apply mt-4 mx-4 overflow-auto flex flex-col min-w-min rounded-t-2xl;
  }

  /* section */
  section {
    @apply flex pt-30 lg:w-[calc(100vw-256px)];
  }

  #about {
    @apply flex-col md:flex-row h-screen items-center gap-5 md:my-12;
  }

  .about-avatar {
    @apply min-w-50 min-h-50 rounded-2xl bg-cover bg-no-repeat bg-center bg-[url(/about/avatar.png)] overflow-hidden md:min-w-80 md:min-h-80 md:m-10 md:mr-5 lg:ml-20;
  }

  .about-properties {
    @apply flex flex-col gap-5 items-center md:items-start md:m-10 md:ml-5 lg:mr-20;
  }

  .about-text {
    color: rgb(var(--text-color));
    @apply p-4 rounded-2xl flex flex-col;
  }

  .about-text-title {
    @apply text-3xl md:text-5xl text-center md:text-left font-bold;
  }

  .about-text-role {
    @apply py-4 text-2xl text-center md:text-left;
  }

  .about-text-desc {
    @apply text-center md:text-left;
  }

  .about-button-container {
    @apply flex gap-5;
  }

  .about-button {
    color: rgb(var(--text-color));
    @apply flex p-4 rounded-2xl gap-2 transition-all duration-300 z-2;
  }

  .about-button-left:hover {
    @apply bg-green-500 text-white;
  }

  .about-button-right:hover {
    @apply bg-red-700 text-white;
  }

  #skills {
    /* md:items-center */
    @apply flex flex-col gap-8;
  }

  .skills-title {
    color: rgb(var(--text-color));
    @apply text-2xl md:text-3xl lg:text-4xl font-bold;
  }

  /* swiper */
  .skills-swiper {
    @apply w-[calc(100vw-2rem)] lg:w-[calc(100vw-256px)] overflow-hidden;
  }

  .swiper-slide {
    @apply flex justify-center items-center;
  }

  .swiper-item {
    @apply flex flex-col items-center gap-2;
  }

  .swiper-item-image-container {
    @apply transition duration-200 min-w-10 min-h-10 flex justify-center items-center rounded-xl md:rounded-2xl sm:min-w-15 sm:min-h-15 md:min-w-25 md:min-h-25 bg-white;
  }

  .swiper-item-image-container:hover {
    @apply shadow-xl;
  }

  .swiper-item-image {
    @apply w-5 h-5 sm:w-10 sm:h-10 md:w-15 md:h-15;
  }

  .swiper-item-image-text {
    color: rgb(var(--text-color));
    @apply font-normal text-[10px] sm:text-xs md:text-sm;
  }

  #experiences {
    @apply flex flex-col gap-8;
  }

  .experiences-title {
    color: rgb(var(--text-color));
    @apply text-2xl md:text-3xl lg:text-4xl font-bold;
  }

  .experiences-container {
    @apply flex flex-col gap-4;
  }

  .experience {
    @apply flex flex-col rounded-2xl p-4 gap-3;
  }

  .experience-heading {
    @apply flex flex-col gap-3 md:flex-row md:items-center md:justify-between;
  }

  .experience-position {
    color: rgb(var(--text-color));
    @apply text-xl font-semibold;
  }

  .experience-place {
    color: rgb(var(--text-color-secondary));
    @apply text-xs md:text-sm;
  }

  .experience-period {
    color: rgb(var(--text-color));
    @apply text-xs md:text-sm;
  }

  li {
    color: rgb(var(--text-color));
    @apply text-sm;
  }

  .experience-footer {
    @apply flex flex-wrap gap-2;
  }

  .experience-footer-item {
    color: rgb(var(--text-color));
    @apply flex py-1 px-2 rounded-4xl justify-center items-center text-xs md:text-sm;
  }

  #projects {
    @apply flex flex-col gap-8;
  }

  .project-swiper {
    @apply w-full overflow-hidden flex items-center;
  }

  .project-slide {
    @apply flex justify-center items-center w-full rounded-xl overflow-hidden;
  }

  .projects-title {
    color: rgb(var(--text-color));
    @apply text-2xl md:text-3xl lg:text-4xl font-bold;
  }

  .projects-container {
    @apply flex gap-4 flex-wrap justify-center;
  }

  .project {
    @apply flex flex-col flex-1 rounded-2xl p-4 min-w-xs max-w-2xl mb-4;
  }

  .project-title {
    color: rgb(var(--text-color));
    @apply text-lg md:text-xl lg:text-2xl font-bold pt-4;
  }

  .project-desc {
    color: rgb(var(--text-color));
    @apply text-xs md:text-sm pb-4 pt-2;
  }

  .techs {
    @apply flex flex-wrap gap-2 pb-4;
  }

  .tech {
    color: rgb(var(--text-color));
    @apply flex py-1 px-2 rounded-4xl justify-center items-center text-xs md:text-sm;
  }

  .project-footer {
    @apply flex gap-4;
  }

  .project-footer-item {
    color: rgb(var(--text-color-tertiary));
    @apply flex justify-center items-center text-sm cursor-pointer;
  }

  .project-footer-item:hover {
    @apply underline;
  }

  .project-footer-item-disable {
    @apply flex justify-center items-center text-sm text-gray-500 no-underline cursor-default pointer-events-none;
  }

  #contact {
    @apply flex flex-col w-full items-center justify-center pb-27;
  }

  .contact-title {
    color: rgb(var(--text-color));
    @apply text-2xl md:text-3xl lg:text-4xl font-bold text-center;
  }

  .contact-desc {
    color: rgb(var(--text-color));
    @apply pt-3 pb-10 text-lg text-center;
  }

  .contact-list {
    @apply flex flex-col md:flex-row gap-5 md:justify-center md:gap-10;
  }

  .contact-item {
    color: rgb(var(--text-color));
    @apply flex gap-2 justify-center cursor-pointer;
  }

  .contact-item:hover {
    @apply underline;
  }

  #footer {
    color: rgb(var(--text-color));
    @apply flex flex-col items-center py-5 border-t gap-3;
  }

  .footer-list {
    @apply flex gap-1 cursor-pointer;
  }

  .footer-desc {
    @apply text-center;
  }

  @keyframes flutter-pulse {

    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.05);
      opacity: 0.9;
    }
  }

  .flutter-pulse {
    display: inline-block;
    animation: flutter-pulse 1.2s ease-in-out infinite;
  }

  @keyframes flutter-shake {

    0%,
    100% {
      transform: translate(0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate(-2px, 0);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translate(2px, 0);
    }
  }

  .flutter-shake {
    display: inline-block;
    animation: flutter-shake 0.4s ease-in-out infinite;
  }

}