@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --custom-bg-color: theme(--color-white)
  }

  .dark {
    --custom-bg-color: theme(--color-slate-900)
  }

  html {
    color-scheme: light dark;
    /* font */
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    /* tailwind CSS */
    @apply scroll-smooth;
  }
}

@layer components {
  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-lg;
  }
}